{% extends "main.html" %}
{% block content %}
<h2> Are you sure you want to delete {{catalogItemToDelete.title}}? </h2>

<form action="/catalog/{{catalogItemToDelete.title}}/delete/" method = 'post'>
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete
	</button>
	<a href = '{{url_for('showCatalogItem', category_name=catalogItemToDelete.category.name, catalogitem_title=catalogItemToDelete.title)}}'>
		<button type="button" class="btn btn-default delete">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		</button>
	</a>
</form>
<br>
{% endblock %}
